<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE: This is a template file. Use deployment/iis/deploy.ps1 for automatic deployment -->
<!-- The deploy.ps1 script will auto-detect your Python installation and generate the correct paths -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="app.py" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="Flask Application">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\prompt_library\src" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\prompt_library\logs\wfastcgi.log" />
    <add key="FLASK_ENV" value="production" />
  </appSettings>
</configuration>
